/* ==========================================================================
** Song Info Controller Styles
** 29/12/2020
** Alan Medina Silva
** ========================================================================== */
.songContainer {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}