/* ==========================================================================
** Global Styles
** 29/12/2020
** Alan Medina Silva
** ========================================================================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./player";
@import "./song";